<form action="/" method="get">
    <button type="submit">Home</button>
</form>
<form action="/songs" method="get">
    <button type="submit">Listar músicas</button>
</form>
<form action="/new-songs" method="get">
    <button type="submit">Adicionar músicas</button>
</form>
<form action="/price" method="get">
    <button type="submit">Preço por like</button>
</form>