<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <a href="http://localhost:3000/"><button>Home</button></a>
            <a href="http://localhost:3000/songs"><button>Listar músicas</button></a>
            <a href="http://localhost:3000/new-songs"><button>Adicionar músicas</button></a>
            <a href="http://localhost:3000/price"><button>Gerir preço por like</button></a>
        </div>
        <h1>Criar nova música</h1>
        <div>
            <p>Título <input type="text"></p>
            <p>Artista <input type="text"></p>
            <p>Género <input type="text"></p>
            <p>Album <input type="text"></p>
            <p>Duração (segundos)   <input type="text"></p>
            <p>Data de lançamento <input type="date" name="" id=""></p>
            <p>Nº de likes <input type="text"></p>
            <button>Criar</button>
        </div>
    </div>
</body>
</html>
