<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div>
            <a href="http://localhost:3000/"><button>Home</button></a>
            <a href="http://localhost:3000/songs"><button>Listar músicas</button></a>
            <a href="http://localhost:3000/new-songs"><button>Adicionar músicas</button></a>
            <a href="http://localhost:3000/price"><button>Gerir preço por like</button></a>
        </div>
        <h1>Criar nova música</h1>
        <form id="adSong">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="">
            <br>
            <label for="artist">Artista:</label>
            <input type="text" name="artist" placeholder="">
            <br>    
            <label for="album">Album:</label>
            <input type="text" name="album" placeholder="">
            <br>
            <label for="genre">Género:</label>
            <input type="text" name="genre" placeholder="">
            <br>
            <label for="duration_seconds">Duração (segundos):</label>
            <input type="text" name="duration_seconds" placeholder="">
            <br>
            <label for="release_date">Data de lançamento:</label>
            <input type="date" name="release_date" placeholder="">
            <br>
            <label for="likes">Nº de likes:</label>
            <input type="number" name="likes" placeholder="">
            <br>
            <input type="submit" value="submit">
        </form>


    <script>
        document.getElementById('adSong').addEventListener('submit', function(event){
                event.preventDefault();


                const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
    
            axios.post('/api/songs', data)
            .then(response => {
                console.log('Success:', response.data);
                location.reload();
                // Handle success (e.g., show a success message, redirect, etc.)
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error (e.g., show an error message)
            });
        })
    </script>


</body>
</html>
