<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <a href="http://localhost:3000/"><button>Home</button></a>
            <a href="http://localhost:3000/songs"><button>Listar músicas</button></a>
            <a href="http://localhost:3000/new-songs"><button>Adicionar músicas</button></a>
            <a href="http://localhost:3000/price"><button>Gerir preço por like</button></a>
        </div>
        <h1>Editar preço por Like: </h1>
        <div>
            <p>Preço por Like: <input type="text"> <button> Atualizar  </button></p>
        </div>
    </div>
</body>
</html>