<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <a href="http://localhost:3000/"><button>Home</button></a>
            <a href="http://localhost:3000/songs"><button>Listar músicas</button></a>
            <a href="http://localhost:3000/new-songs"><button>Adicionar músicas</button></a>
            <a href="http://localhost:3000/price"><button>Gerir preço por like</button></a>
        </div>
        <h1>Listagem de músicas disponíveis</h1>
        <div>
            
        </div>
    </div>

    <script>
        document.getElementById('produto-form').addEventListener('submit', function(event) {
            event.preventDefault();
    
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
    
            axios.get(`/api/songs`, data)
            .then(response => {
                console.log('Success:', response.data);
                location.reload();
                // Handle success (e.g., show a success message, redirect, etc.)
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error (e.g., show an error message)
            });
        });
    </script>

</body>
</html>